@page "/parentcomponent"

<h1 class="text-danger">Parent Child Component</h1>

<BlazingShop.Pages.Components.ChildComponent 
    OnClickMethod="@ShowMessage"
    Title="Title Passed From Parent">
    Content is displayed between the child component tag in ParentComponent
</BlazingShop.Pages.Components.ChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazing text from parent";
    }
}
